export RD_CLUSTER_NAME=agentdesk

# The region where we will create the cluster
export RD_REGION=us-east-1

# Kubernetes version to use
export RD_K8S_VERSION=1.27

# The name of the keypair that we're going to inject into the nodes. You
# must create this ahead of time in the correct region.
export RD_EC2_KEYPAIR_NAME=patrick-agentdesk

# ARM c6g.metal c7g.metal m6g.metal 
# AMD c5n.metal c5.metal
export RD_INSTANCE_TYPE=c5n.metal
