RD_CLUSTER_NAME=agentdesk

# The region where we will create the cluster
RD_REGION=us-east-1

# Kubernetes version to use
RD_K8S_VERSION=1.27

# The name of the keypair that we're going to inject into the nodes. You
# must create this ahead of time in the correct region.
RD_EC2_KEYPAIR_NAME=patrick-agentdesk

# c5.metal c6g.metal c7g.metal m6g.metal
RD_INSTANCE_TYPE=c6g.metal
